################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/He_thong_Quan_Ly_trung_tam_gia_su/FileContentIndex
.vs/
bin/
obj/
out/
